<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/billDetails/List" value="Show All BillDetails Items"/>
        <br />
        <h:link outcome="/book/List" value="Show All Book Items"/>
        <br />
        <h:link outcome="/bookBill/List" value="Show All BookBill Items"/>
        <br />
        <h:link outcome="/cart/List" value="Show All Cart Items"/>
        <br />
        <h:link outcome="/category/List" value="Show All Category Items"/>
        <br />
        <h:link outcome="/customer/List" value="Show All Customer Items"/>
    </h:body>






</html>

