<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookCreateDlg" widgetVar="BookCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBookTitle}">
            <h:form id="BookCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBookLabel_bookId}" for="bookId" />
                        <p:inputText id="bookId" value="#{bookController.selected.bookId}" title="#{bundle.CreateBookTitle_bookId}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookId}"/>
                        <p:outputLabel value="#{bundle.CreateBookLabel_title}" for="title" />
                        <p:inputText id="title" value="#{bookController.selected.title}" title="#{bundle.CreateBookTitle_title}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_author}" for="author" />
                        <p:inputText id="author" value="#{bookController.selected.author}" title="#{bundle.CreateBookTitle_author}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_createdDate}" for="createdDate" />
                        <p:calendar id="createdDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookController.selected.createdDate}" title="#{bundle.EditBookTitle_createdDate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateBookLabel_price}" for="price" />
                        <p:inputText id="price" value="#{bookController.selected.price}" title="#{bundle.CreateBookTitle_price}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_image}" for="image" />
                        <p:inputTextarea rows="4" cols="30" id="image" value="#{bookController.selected.image}" title="#{bundle.CreateBookTitle_image}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_publisher}" for="publisher" />
                        <p:inputText id="publisher" value="#{bookController.selected.publisher}" title="#{bundle.CreateBookTitle_publisher}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_stock}" for="stock" />
                        <p:inputText id="stock" value="#{bookController.selected.stock}" title="#{bundle.CreateBookTitle_stock}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_description}" for="description" />
                        <p:inputText id="description" value="#{bookController.selected.description}" title="#{bundle.CreateBookTitle_description}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_categoryId}" for="categoryId" />
                        <p:selectOneMenu id="categoryId" value="#{bookController.selected.categoryId}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_categoryId}">
                            <f:selectItems value="#{categoryController.itemsAvailableSelectOne}"
                                           var="categoryIdItem"
                                           itemValue="#{categoryIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookController.create}" value="#{bundle.Save}" update="display,:BookListForm:datalist,:growl" oncomplete="handleSubmit(args,'BookCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
