<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookViewDlg" widgetVar="BookViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookTitle}">
            <h:form id="BookViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookLabel_bookId}"/>
                        <h:outputText value="#{bookController.selected.bookId}" title="#{bundle.ViewBookTitle_bookId}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_title}"/>
                        <h:outputText value="#{bookController.selected.title}" title="#{bundle.ViewBookTitle_title}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_author}"/>
                        <h:outputText value="#{bookController.selected.author}" title="#{bundle.ViewBookTitle_author}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_createdDate}"/>
                        <h:outputText value="#{bookController.selected.createdDate}" title="#{bundle.ViewBookTitle_createdDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookLabel_price}"/>
                        <h:outputText value="#{bookController.selected.price}" title="#{bundle.ViewBookTitle_price}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_image}"/>
                        <h:outputText value="#{bookController.selected.image}" title="#{bundle.ViewBookTitle_image}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_publisher}"/>
                        <h:outputText value="#{bookController.selected.publisher}" title="#{bundle.ViewBookTitle_publisher}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_stock}"/>
                        <h:outputText value="#{bookController.selected.stock}" title="#{bundle.ViewBookTitle_stock}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_description}"/>
                        <h:outputText value="#{bookController.selected.description}" title="#{bundle.ViewBookTitle_description}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_categoryId}"/>
                        <h:outputText value="#{bookController.selected.categoryId}" title="#{bundle.ViewBookTitle_categoryId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
