<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoryViewDlg" widgetVar="CategoryViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCategoryTitle}">
            <h:form id="CategoryViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categoryController.selected != null}">
                        <h:outputText value="#{bundle.ViewCategoryLabel_categoryId}"/>
                        <h:outputText value="#{categoryController.selected.categoryId}" title="#{bundle.ViewCategoryTitle_categoryId}"/>
                        <h:outputText value="#{bundle.ViewCategoryLabel_name}"/>
                        <h:outputText value="#{categoryController.selected.name}" title="#{bundle.ViewCategoryTitle_name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CategoryViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
