<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerCreateDlg" widgetVar="CustomerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCustomerTitle}">
            <h:form id="CustomerCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_customerId}" for="customerId" />
                        <p:inputText id="customerId" value="#{customerController.selected.customerId}" title="#{bundle.CreateCustomerTitle_customerId}" required="true" requiredMessage="#{bundle.CreateCustomerRequiredMessage_customerId}"/>
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_phoneNumber}" for="phoneNumber" />
                        <p:inputText id="phoneNumber" value="#{customerController.selected.phoneNumber}" title="#{bundle.CreateCustomerTitle_phoneNumber}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_location}" for="location" />
                        <p:inputText id="location" value="#{customerController.selected.location}" title="#{bundle.CreateCustomerTitle_location}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{customerController.selected.firstName}" title="#{bundle.CreateCustomerTitle_firstName}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{customerController.selected.lastName}" title="#{bundle.CreateCustomerTitle_lastName}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{customerController.create}" value="#{bundle.Save}" update="display,:CustomerListForm:datalist,:growl" oncomplete="handleSubmit(args,'CustomerCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CustomerCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
