<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerViewDlg" widgetVar="CustomerViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCustomerTitle}">
            <h:form id="CustomerViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <h:outputText value="#{bundle.ViewCustomerLabel_customerId}"/>
                        <h:outputText value="#{customerController.selected.customerId}" title="#{bundle.ViewCustomerTitle_customerId}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_phoneNumber}"/>
                        <h:outputText value="#{customerController.selected.phoneNumber}" title="#{bundle.ViewCustomerTitle_phoneNumber}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_location}"/>
                        <h:outputText value="#{customerController.selected.location}" title="#{bundle.ViewCustomerTitle_location}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_firstName}"/>
                        <h:outputText value="#{customerController.selected.firstName}" title="#{bundle.ViewCustomerTitle_firstName}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_lastName}"/>
                        <h:outputText value="#{customerController.selected.lastName}" title="#{bundle.ViewCustomerTitle_lastName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CustomerViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
