<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BillDetailsCreateDlg" widgetVar="BillDetailsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBillDetailsTitle}">
            <h:form id="BillDetailsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{billDetailsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBillDetailsLabel_quantity}" for="quantity" />
                        <p:inputText id="quantity" value="#{billDetailsController.selected.quantity}" title="#{bundle.CreateBillDetailsTitle_quantity}" required="true" requiredMessage="#{bundle.CreateBillDetailsRequiredMessage_quantity}"/>
                        <p:outputLabel value="#{bundle.CreateBillDetailsLabel_price}" for="price" />
                        <p:inputText id="price" value="#{billDetailsController.selected.price}" title="#{bundle.CreateBillDetailsTitle_price}" />
                        <p:outputLabel value="#{bundle.CreateBillDetailsLabel_book}" for="book" />
                        <p:selectOneMenu id="book" value="#{billDetailsController.selected.book}" required="true" requiredMessage="#{bundle.EditBillDetailsRequiredMessage_book}">
                            <f:selectItems value="#{bookController.itemsAvailableSelectOne}"
                                           var="bookItem"
                                           itemValue="#{bookItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateBillDetailsLabel_bookBill}" for="bookBill" />
                        <p:selectOneMenu id="bookBill" value="#{billDetailsController.selected.bookBill}" required="true" requiredMessage="#{bundle.EditBillDetailsRequiredMessage_bookBill}">
                            <f:selectItems value="#{bookBillController.itemsAvailableSelectOne}"
                                           var="bookBillItem"
                                           itemValue="#{bookBillItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{billDetailsController.create}" value="#{bundle.Save}" update="display,:BillDetailsListForm:datalist,:growl" oncomplete="handleSubmit(args,'BillDetailsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BillDetailsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
