<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BillDetailsViewDlg" widgetVar="BillDetailsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBillDetailsTitle}">
            <h:form id="BillDetailsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{billDetailsController.selected != null}">
                        <h:outputText value="#{bundle.ViewBillDetailsLabel_quantity}"/>
                        <h:outputText value="#{billDetailsController.selected.quantity}" title="#{bundle.ViewBillDetailsTitle_quantity}"/>
                        <h:outputText value="#{bundle.ViewBillDetailsLabel_price}"/>
                        <h:outputText value="#{billDetailsController.selected.price}" title="#{bundle.ViewBillDetailsTitle_price}"/>
                        <h:outputText value="#{bundle.ViewBillDetailsLabel_book}"/>
                        <h:outputText value="#{billDetailsController.selected.book}" title="#{bundle.ViewBillDetailsTitle_book}"/>
                        <h:outputText value="#{bundle.ViewBillDetailsLabel_bookBill}"/>
                        <h:outputText value="#{billDetailsController.selected.bookBill}" title="#{bundle.ViewBillDetailsTitle_bookBill}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BillDetailsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
