<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CartEditDlg" widgetVar="CartEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCartTitle}">
            <h:form id="CartEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cartController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCartLabel_cartPK_cartId}" for="cartPK_cartId" />
                        <p:inputText id="cartPK_cartId" value="#{cartController.selected.cartPK.cartId}" title="#{bundle.EditCartTitle_cartPK_cartId}" required="true" requiredMessage="#{bundle.EditCartRequiredMessage_cartPK_cartId}"/>
                        <p:outputLabel value="#{bundle.EditCartLabel_status}" for="status" />
                        <p:inputText id="status" value="#{cartController.selected.status}" title="#{bundle.EditCartTitle_status}" required="true" requiredMessage="#{bundle.EditCartRequiredMessage_status}"/>
                        <p:outputLabel value="#{bundle.EditCartLabel_quantity}" for="quantity" />
                        <p:inputText id="quantity" value="#{cartController.selected.quantity}" title="#{bundle.EditCartTitle_quantity}" required="true" requiredMessage="#{bundle.EditCartRequiredMessage_quantity}"/>
                        <p:outputLabel value="#{bundle.EditCartLabel_book}" for="book" />
                        <p:selectOneMenu id="book" value="#{cartController.selected.book}" required="true" requiredMessage="#{bundle.EditCartRequiredMessage_book}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bookController.itemsAvailableSelectOne}"
                                           var="bookItem"
                                           itemValue="#{bookItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditCartLabel_customerId}" for="customerId" />
                        <p:selectOneMenu id="customerId" value="#{cartController.selected.customerId}" required="true" requiredMessage="#{bundle.EditCartRequiredMessage_customerId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="customerIdItem"
                                           itemValue="#{customerIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cartController.update}" value="#{bundle.Save}" update="display,:CartListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CartEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CartEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
