<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CartViewDlg" widgetVar="CartViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCartTitle}">
            <h:form id="CartViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cartController.selected != null}">
                        <h:outputText value="#{bundle.ViewCartLabel_cartPK_cartId}"/>
                        <h:outputText value="#{cartController.selected.cartPK.cartId}" title="#{bundle.ViewCartTitle_cartPK_cartId}"/>
                        <h:outputText value="#{bundle.ViewCartLabel_status}"/>
                        <h:outputText value="#{cartController.selected.status}" title="#{bundle.ViewCartTitle_status}"/>
                        <h:outputText value="#{bundle.ViewCartLabel_quantity}"/>
                        <h:outputText value="#{cartController.selected.quantity}" title="#{bundle.ViewCartTitle_quantity}"/>
                        <h:outputText value="#{bundle.ViewCartLabel_book}"/>
                        <h:outputText value="#{cartController.selected.book}" title="#{bundle.ViewCartTitle_book}"/>
                        <h:outputText value="#{bundle.ViewCartLabel_customerId}"/>
                        <h:outputText value="#{cartController.selected.customerId}" title="#{bundle.ViewCartTitle_customerId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CartViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
