<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookBillCreateDlg" widgetVar="BookBillCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBookBillTitle}">
            <h:form id="BookBillCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookBillController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBookBillLabel_billId}" for="billId" />
                        <p:inputText id="billId" value="#{bookBillController.selected.billId}" title="#{bundle.CreateBookBillTitle_billId}" required="true" requiredMessage="#{bundle.CreateBookBillRequiredMessage_billId}"/>
                        <p:outputLabel value="#{bundle.CreateBookBillLabel_totalPrice}" for="totalPrice" />
                        <p:inputText id="totalPrice" value="#{bookBillController.selected.totalPrice}" title="#{bundle.CreateBookBillTitle_totalPrice}" required="true" requiredMessage="#{bundle.CreateBookBillRequiredMessage_totalPrice}"/>
                        <p:outputLabel value="#{bundle.CreateBookBillLabel_customerId}" for="customerId" />
                        <p:selectOneMenu id="customerId" value="#{bookBillController.selected.customerId}" required="true" requiredMessage="#{bundle.EditBookBillRequiredMessage_customerId}">
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="customerIdItem"
                                           itemValue="#{customerIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookBillController.create}" value="#{bundle.Save}" update="display,:BookBillListForm:datalist,:growl" oncomplete="handleSubmit(args,'BookBillCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookBillCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
