<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookBillViewDlg" widgetVar="BookBillViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookBillTitle}">
            <h:form id="BookBillViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookBillController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookBillLabel_billId}"/>
                        <h:outputText value="#{bookBillController.selected.billId}" title="#{bundle.ViewBookBillTitle_billId}"/>
                        <h:outputText value="#{bundle.ViewBookBillLabel_totalPrice}"/>
                        <h:outputText value="#{bookBillController.selected.totalPrice}" title="#{bundle.ViewBookBillTitle_totalPrice}"/>
                        <h:outputText value="#{bundle.ViewBookBillLabel_customerId}"/>
                        <h:outputText value="#{bookBillController.selected.customerId}" title="#{bundle.ViewBookBillTitle_customerId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookBillViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
